body{
    font-family: 'Poppins', sans-serif;
    
}
#manu{
   margin-left: 75%;
   padding: 2%;
   border-radius: 9px;
   padding: 10px 15px;
   font-weight: 900; 
  
}
.remove-underline{
    text-decoration: none;
    padding:6px;
   
}
#search-br{
    margin-left: 35%;
    padding: 1%;
    width: 300px;
    border: 5px solid salmon;
    border-radius: 10px;
    margin-top: 25px;
   
}